<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SOC Sentinel AI | ChronoVision</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div id="boot-screen">

    <div class="boot-container">

        <h1 class="logo">
            SOC SENTINEL AI
        </h1>

        <h2 class="title">
            CHRONOVISION
        </h2>

        <p class="subtitle">
            Learn from the Past. Protect the Present. Predict the Future.
        </p>

        <div class="loading-box">

            <p id="boot-text">
                Initializing Chrono Engine...
            </p>

            <div class="progress-bar">

                <div class="progress"></div>

            </div>

        </div>

    </div>

</div>

</body>

</html>
